{{!< layout}}

{{#page}}
  <div class="mt-24">
    {{#> prose}}
      {{content}}
    {{/prose}}
  </div>

  {{#get "posts" include="tags,authors"}}
      {{#foreach posts}}
        <div data-post-{{date format="YYYY-M"}}>
          <p data-post-date-heading class="mt-8 text-lg sm:text-xl text-neutral-800 font-bold">{{date format="MMMM YYYY"}}</p>
          <a href="{{ url }}" class="block max-w-max ml-4 sm:text-lg font-serif mt-2 underline">
            {{title}}
          </a>
        </div>
      {{/foreach}}
  {{/get}}
{{/page}}

{{! This hides all the date headings that are duplicates, leaving posts grouped by month. }}
<style>
  {{! 2021 }}
  [data-post-2021-1] + [data-post-2021-1] [data-post-date-heading],
  [data-post-2021-2] + [data-post-2021-2] [data-post-date-heading],
  [data-post-2021-3] + [data-post-2021-3] [data-post-date-heading],
  [data-post-2021-4] + [data-post-2021-4] [data-post-date-heading],
  [data-post-2021-5] + [data-post-2021-5] [data-post-date-heading],
  [data-post-2021-6] + [data-post-2021-6] [data-post-date-heading],
  [data-post-2021-7] + [data-post-2021-7] [data-post-date-heading],
  [data-post-2021-8] + [data-post-2021-8] [data-post-date-heading],
  [data-post-2021-9] + [data-post-2021-9] [data-post-date-heading],
  [data-post-2021-10] + [data-post-2021-10] [data-post-date-heading],
  [data-post-2021-11] + [data-post-2021-11] [data-post-date-heading],
  [data-post-2021-12] + [data-post-2021-12] [data-post-date-heading],
  {{! 2022 }}
  [data-post-2022-1] + [data-post-2022-1] [data-post-date-heading],
  [data-post-2022-2] + [data-post-2022-2] [data-post-date-heading],
  [data-post-2022-3] + [data-post-2022-3] [data-post-date-heading],
  [data-post-2022-4] + [data-post-2022-4] [data-post-date-heading],
  [data-post-2022-5] + [data-post-2022-5] [data-post-date-heading],
  [data-post-2022-6] + [data-post-2022-6] [data-post-date-heading],
  [data-post-2022-7] + [data-post-2022-7] [data-post-date-heading],
  [data-post-2022-8] + [data-post-2022-8] [data-post-date-heading],
  [data-post-2022-9] + [data-post-2022-9] [data-post-date-heading],
  [data-post-2022-10] + [data-post-2022-10] [data-post-date-heading],
  [data-post-2022-11] + [data-post-2022-11] [data-post-date-heading],
  [data-post-2022-12] + [data-post-2022-12] [data-post-date-heading]
  {
    display: none;
  }
</style>
