{{!< layout}}

{{#page}}
  <div class="md:mt-24">
    {{#> prose}}
      {{content}}
    {{/prose}}
  </div>

  {{#get "posts" include="tags,authors"}}
      {{#foreach posts}}
        <div data-post-{{date format="YYYY-M"}}>
          <p data-post-date-heading class="mt-8 text-lg sm:text-xl text-neutral-800 font-bold">{{date format="MMMM YYYY"}}</p>
          <a href="{{ url }}" class="block max-w-max ml-4 sm:text-lg font-serif mt-2 underline">
            {{title}}
          </a>
        </div>
      {{/foreach}}
  {{/get}}
{{/page}}
